#landing
	text-align: center

#landing_container
	flex-grow: 1
	min-height: 18em
	display: flex
	align-items: center
	align-content: center
	flex-direction: column
	padding: 0 0 0.5em 0
	margin: 0
	min-height: 18em
	a
		@include e-link($c-bg,$c-fg)

	.lead
		display: inline-block
		font-size: 1.2em
		margin: 0 auto 1em
		padding: 0.5em 1em
		border-top: 2px dotted $c-lead-border
		border-bottom: 2px dotted $c-lead-border

	.description
		width: 30em
		margin: 1em 0.5em 2em 0.5em 
		text-align: start
		padding: 2em 1em
		background-color: $c-startcard-bg
		box-shadow: 0 5px 40px -5px $cc-black
		border-radius: 0.5em
		color: $c-startcard-fg

		hr
			display: block
			width: 100%
			height: 2px
			background-color: $c-startcard-fg
			border: none