doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content=package.description)
		meta(name="author" content=package.author)
		title #{user.title}
		if user.devmode
			link(rel="stylesheet" href="./css/index.css")
			script(src="./js/bundle.js")
		else
			link(rel="stylesheet" href="./css/index.min.css")
			script(src="./js/bundle.min.js")
	body
		#root-stack.fullW.fullH
			include _landing.pug