/*
  This file defines color aliases.
  This file is designed for just this project.

  naming convention: c-[usage name]
    Correct: c-primary c-background c-header c-btn-bg c-brand
    Wrong:   c-black c-deep-purple c-lemon-yellow
  
  This file must not use hard-coded colors.
  Use $cc-[colorname] variables.(色味を一箇所の修正で優れたセンスで選ばれた色にすることができるようにするため)
// abbr.
  bg: background
  fg: foreground
  btn: button
  btn1: primary button

$c-bg: $cc-light
$c-fg: $cc-dark
$c-lead-border: $cc-light-grey
$c-startcard-bg: $cc-dark
$c-startcard-fg: $cc-light-grey