/*
  This file defines color aliases.
  This file is designed for just this project.

  naming convention: e-[name]

/*
	@mixin e-link($bg,$fg)
		color: $fg
		padding: 0 0.2em
		border-radius: 0.2em
		display: inline-block
		text-decoration: none
		&::after
			// z-index: -1
			content: ''
			display: block
			background: $fg
			transition: all .1s ease-in-out
			position: relative
			top: 0
			height: 2px
			bottom: 0%
			left: 50%
			width: 0%
		&:hover::after
			left: 0%
			width: 100%
		&:active
			color: $bg
			&::after
				top: -100%
				height: calc(100% + 2px)
			

@mixin e-link($bg,$fg)
	color: $fg
	padding: 0 0.2em
	border-radius: 0.2em
	display: inline-block
	text-decoration: none
	&::before, &::after
		content: ''
		display: block
		width: 100%
		background: $fg
		transition: all .1s ease-in-out

	&::before
		position: relative
		opacity: 0.4
		top: 1.2em
		height: 1px
	&::after
		margin-left: 50%
		width: 0
		height: 2px
	&:hover::after
		margin-left: 0
		width: 100%
	&:active
		color: $bg
		&::after
			height: calc(1em + 4px)
			width: calc(100% + 4px)
			margin-left: -2px
			margin-top: calc(-1em - 2px)

@mixin e-input($bg,$fg,$border,$bg-hover,$fg-hover)
	transition: 0.2s all
	background: $bg
	outline: none
	border: none
	border-top: 1px solid transparent
	border-bottom: 1px solid $border
	margin: 0 0.5em
	padding: 0 0 0 0.5em
	color: inherit
	&:hover
		bg: $bg-hover
		border-bottom-color: transparent
		color: $fg-hover
	&::selection
		bg: $fg
		color: $bg